.cover-cape-reinga {
    background-image: url(../img/ni/cape_reing_tn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 13rem;
}

.cover-tepaki-dunes {
    background-image: url(../img/ni/tepaki_dunes_tn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 13rem;
}

.cover-rarawa-beach {
    background-image: url(../img/ni/rarawa_beach_tn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 13rem;
}

.cover-houhora-heads {
    background-image: url(../img/ni/houhora_heads_tn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 13rem;
}

.cover-matai-bay {
    background-image: url(../img/ni/matai_bay_tn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 13rem;
}

.cover-marokopa-falls {
    background-image: url(../img/ni/marokopa_falls_tn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 13rem;
}

.cover-mclaren-falls-park {
    background-image: url(../img/ni/mclaren_falls_park_tn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 13rem;
}

.cover-lake-tikitapu {
    background-image: url(../img/ni/lake_tikitapu_tn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 13rem;
}

.cover-cooks-cove {
    background-image: url(../img/ni/cooks_cove_tn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 13rem;
}

.cover-rere-falls {
    background-image: url(../img/ni/rere_falls_tn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 13rem;
}

.cover-temata-peak {
    background-image: url(../img/ni/temata_peak_tn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 13rem;
}

.cover-mt-egmont {
    background-image: url(../img/ni/mt_egmont_tn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 13rem;
}
