.cover-pt-kean {
    background-image: url(../img/si/pt_kean_tn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 13rem;
}

.cover-tekapo {
    background-image: url(../img/si/tekapo_tn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 13rem;
}

.cover-blue-lakes {
    background-image: url(../img/si/blue_lakes_tn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 13rem;
}

.cover-kea-point {
    background-image: url(../img/si/kea_point_tn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 13rem;
}

.cover-moeraki {
    background-image: url(../img/si/moeraki_tn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 13rem;
}

.cover-baldwin-street {
    background-image: url(../img/si/baldwin_street_tn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 13rem;
}

.cover-nugget-point {
    background-image: url(../img/si/nugget_point_tn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 13rem;
}

.cover-purakaunui-falls {
    background-image: url(../img/si/purakaunui_falls_tn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 13rem;
}

.cover-wanaka {
    background-image: url(../img/si/wanaka_tn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 13rem;
}

.cover-roys-peak {
    background-image: url(../img/si/roys_peak_tn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 13rem;
}

.cover-lake-matheson {
    background-image: url(../img/si/lake_matheson_tn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 13rem;
}

.cover-punakaiki {
    background-image: url(../img/si/punakaiki_tn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 13rem;
}
